# .env.example
DATABASE_URL=postgresql://postgres:bfuI6kAkxrikA1Gr@db.ezlbmzixlnhxlburwdqy.supabase.co:5432/postgres

# App Configuration
APP_BASE_URL=https://serrinhaconectada.tech
APP_URL=https://ais-dev-rvlraaauzcqwilnddl5b67-125453426198.us-west2.run.app

# SERVER Configuration port
PORT=

# Brevo API Configuration
BREVO_API_KEY=sua_chave_api_aqui
BREVO_SENDER_NAME=Prefeitura de Serrinha - Cidadão ativo!
BREVO_SENDER_EMAIL=silas.paixao873@gmail.com

# S3 Configuration

S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
S3_BUCKET_POLES=
S3_REGION=
S3_PUBLIC_BASE_URL=

# Admin Configuration
ADMIN_RESET_TOKEN_TTL_MINUTES=60
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=mudar-em-producao
DEFAULT_ADMIN_NAME=Administrador

# Evolution API (WhatsApp)
EVOLUTION_API_URL=https://evolution.capacitaja.com
EVOLUTION_API_KEY=seu_api_key_aqui
EVOLUTION_INSTANCE=prefeitura
